package config

import (
	"fmt"
	"log"
{{- if eq .Database.Type "mysql" }}
	"gorm.io/driver/mysql"
{{- else if eq .Database.Type "postgres" }}
	"gorm.io/driver/postgres"
{{- end }}
	"gorm.io/gorm"
)

var DB *gorm.DB

// InitDB 初始化数据库
func InitDB() error {
	var dsn string
{{- if eq .Database.Type "mysql" }}
	dsn = fmt.Sprintf("%s:@tcp(%s:%d)/%s?charset=utf8mb4&parseTime=True&loc=Local",
		"{{ .Database.User }}", "{{ .Database.Host }}", {{ .Database.Port }}, "{{ .Database.Database }}")
{{- else if eq .Database.Type "postgres" }}
	dsn = fmt.Sprintf("host=%s user=%s password=%s dbname=%s port=%d sslmode=disable",
		"{{ .Database.Host }}", "{{ .Database.User }}", "{{ .Database.Password }}", "{{ .Database.Database }}", {{ .Database.Port }})
{{- end }}

	db, err := gorm.Open({{ if eq .Database.Type "mysql" }}mysql.Open(dsn){{ else if eq .Database.Type "postgres" }}postgres.Open(dsn){{ end }}, &gorm.Config{})
	if err != nil {
		return err
	}
	DB = db
	log.Println("数据库连接成功")
	return nil
}

// Config 项目配置
type Config struct {
	Project ProjectConfig `json:"project"`
}

// ProjectConfig 项目配置
type ProjectConfig struct {
	Name     string          `json:"name"`
	Port     int             `json:"port"`
	Database DatabaseConfig `json:"database"`
}

// DatabaseConfig 数据库配置
type DatabaseConfig struct {
	Type     string `json:"type"`
	Host     string `json:"host"`
	Port     int    `json:"port"`
	User     string `json:"user"`
	Password string `json:"password"`
	Database string `json:"database"`
}

// Load 加载配置
func Load() *Config {
	return &Config{
		Project: ProjectConfig{
			Name: "{{ .Name }}",
			Port: {{ .Port }},
			Database: DatabaseConfig{
				Type:     "{{ .Database.Type }}",
				Host:     "{{ .Database.Host }}",
				Port:     {{ .Database.Port }},
				User:     "{{ .Database.User }}",
				Password: "{{ .Database.Password }}",
				Database: "{{ .Database.Database }}",
			},
		},
	}
}