{
  "templates": [
    {"name": "gomod.tmpl", "path": "go.mod"},
    {"name": "main.tmpl", "path": "main.go"},
    {"name": "router.tmpl", "path": "router/router.go"},
    {"name": "handler.tmpl", "path": "handler/{{.Handler}}.go"},
    {"name": "middleware.tmpl", "path": "middleware/{{.Name}}.go"},
    {"name": "config.tmpl", "path": "config/config.go"}
  ]
}